@import '../variables.scss';

html, body {
  background-color: $body-bg !important;
  color: $text-color !important;;
  font-family: $font-family-base !important;;
}

.underline {
  text-decoration: underline;
}

a.link {
  text-decoration: underline;
  color: $color-picton-blue;
  font-family: $font-family-secondary !important;
}

.ui.container {
  &.dark {
    background-color: $dark-background;
  }
}

.ui.button, .ui.header, .ui.menu, .ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=number] {
  font-family: $font-family-base !important;
}

.ui.button {
  &.yellow {
    background-color: $color-sandy-brown;
  }
}

.ui.header {
  color: $text-color;
}

@media only screen and (max-width: $screen-sm-min) {
  .ui.fluid.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .ui.secondary.menu {
    padding: 10px 0 !important;
  }
  .masterhead {
    padding-top: 1em !important;
  }
  .about.apis {
    .console {
      padding: 1em !important;
    }
    .ui.grid {
      > .column {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }
  .container.preview.two {
    padding: 2em 0;
  }
}

@media (min-width: $screen-sm-min) {}

@media (min-width: $screen-md-min) {}

@media (min-width: $screen-lg-min) {}
