/*
 * Colors
 * -------------------------------------------------------------------------- */
$color-black-rock: #030828;
$color-blue-charcoal: #010418;
$color-white: #FFFFFF;
$color-black: #000000;
$color-biscay: #202B6C;
$color-sandy-brown: #F0A852;
$color-athens-gray: #EBEDF1;
$color-dove-gray: #6D6C6C;
$color-concrete: #F2F2F2;
$color-pickled-bluewood: #2C3E50;
$color-picton-blue: #51B5E0;
$color-faded-jade: #468181;
$color-picton-blue: #50b5e1;
$color-carnation: #f05852;

/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: $color-white;
$text-color: #030828;
$text-color-lite: $color-dove-gray;
$brand-color: $color-faded-jade;
$brand-color-two: $color-picton-blue;
$brand-color-three: $color-carnation;
$dark-background: $color-black-rock;
$font-weight-lite: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-semi-bold: 600;


/*
 * Typography
 * -------------------------------------------------------------------------- */

$font-family-base: 'Raleway', sans-serif;
$font-family-secondary: "adelle", serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
