/*
 * Colors
 * -------------------------------------------------------------------------- */
$color-black-rock: #030828;
$color-blue-charcoal: #010418;
$color-white: #FFFFFF;
$color-biscay: #202B6C;

/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: $color-white;
$text-color: #333;
$brand-color: #21ce99;
$dark-background: $color-black-rock;
$font-weight-lite: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-semi-bold: 600;


/*
 * Typography
 * -------------------------------------------------------------------------- */

$font-family-base: 'Raleway', sans-serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
