.ui.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  .ui.grid {
    height: 30vh;
  }
  .tag-line {
    text-align: center;
    color: $color-white;
    a {
      color: $color-white;
    }
  }
}
