//import google fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  background-color: $background-color;
  font-family: $default-font;
}

.main-area {
  height: 70vh;
  background-image: url(../images/landing-bg.jpg);
}

.landing-container {
  height: 66vh;
  color: $color-white;
  h2 {
    color: $color-white !important;
    margin-top: 14px;
  }
  img {
    height: auto;
    &.laptop {
      max-width: 80%;
    }
    &.icons {
      width: 110px;
    }
  }
}

.ui.orange.button {
  background-color: $color-orange;
}