@import '../variables.scss';

.ui.secondary.inverted.menu a.item {
  color: $color-white !important;
}

.ui.secondary.menu {
  border: 0 !important;
  padding: 40px 0;
  .item {
    &.header {
      font-size: 1.8em;
      font-weight: $font-weight-bold;
      padding: .2em 0.14em;
      margin-right: 2em;
      img {
        width: 0.7em !important;
        margin-right: 14px !important;
        margin-top: 4px !important;
      }
    }
  }
  .inverted.button {
    height: 38px;
    box-shadow: 0 0 0 1px $color-biscay inset!important;
  }
}
