@import '../variables.scss';

.libraries {
  background-color: $color-concrete;
  background-image: url(../../static/bg-box.png);
  background-repeat: no-repeat;
  background-position: center 220px;
  background-size: 27%;
  padding: 4em 0;
  border-top: 2px solid $color-black-rock;
  color: $color-dove-gray;
  .ui.main.header {
    margin-bottom: 2em;
  }
  .column {
    > .ui.header {
      color: rgba(0,0,0,0.7) !important;
    }
    .icon {
      width: 100px;
      height: 100px;
      background: white;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      line-height: 1.8em;
      margin: 0 auto 20px auto;
      > i.icon {
        font-size: 4em;
        margin: 0;
      }
    }
    p {
      font-family: $font-family-secondary;
    }
  }
}
