@import '../variables.scss';

.containers.preview {
  color: $text-color-lite;
  .ui.header {
    &.huge {
      padding: 1.4em 0;
      .sub.header {
        font-size: 0.96rem;
      }
    }
  }
  .left.text {
    text-align: right;
    padding-top: 4em;
  }
  .right.text {
    text-align: left;
    padding-top: 10em;
  }
  img.container.preview {
    max-width: 100%;
    height: auto;
  }
}
